<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="wiewpoint" content="width=device-width, inital scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>Template 1</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div class="headwrapper">
		<div class="header">
			<br>
			<img src="img/dogsil.jpg">
			<h1>Avante-Garde Dogs</h1>
			<h3>Our bestfriends can be a little dramatic too</h3>

		</div>
		<div class="navigator">
		<br>
			<a href="#">WTF is this about?</a>
			<a href="#">Meet Bravo</a>
			<a href="#">Other dog critters</a>
			<a href="#">Gallery</a>
		</div>
	</div>
	<div class="wrapper">
		<div class="banner">
			<div class="pic">
				<img src="img/dognose.jpeg">
			</div>
			<div class="text">
				<h2>Understanding a Dog's Sense of Smell</h2>
				<p>A dog’s nose not only dominates her face, but her brain, as well. In fact, a dog relies on her sense of smell to interpret her world, in much the same way as people depend on their sight. Although this contrasting world view may be hard to imagine, know that your dog interprets as much information as you do. However, she does much of this by smelling an object or animal, not by staring at it.</p>
				<form action="" method="" id="boom">
					<input type="submit" name="Read More" value="Read More">
				</form>
			</div>
		</div>
		<div class="images">
			<div class="column">
				<img src="img/shih.png">
			</div>
			<div class="column">
				<img src="img/lab.jpg">
			</div>
			<div class="column">
				<img src="img/dog.jpg">
			</div>
			<div class="column">
				<img src="img/pup.jpg">

			</div>
			<div class="column">
				<img src="img/french.jpg">
			</div>
		</div>
		<div class="post1">
			<h2>Dogs Dream</h2>
			<div class="pic1">
				<img src="img/sleep.jpg">
			</div>
			<div class="text1">
				<p>Dogs often dream. In fact, they experience similar stages of dreaming to humans - including rapid eye movement (REM), (the stage of dreaming we tend to remember). Twitches and paw movements are just some of the ways you can spot a dreaming dog. Even more amazing? Harvard experts suggest that your dog is quite likely to be dreaming about… you. Aww.</p>
				<form action="" method="">
					<input type="submit" name="submit" value="Read More">
				</form>
			</div>
		</div>
		<div class="socialmedia">
			
		</div>
		
	</div>

</body>
</html>