<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>The Millennial SOUL</title>

	<link rel="stylesheet" type="text/css" href="css/style1.css">



	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
	<div class="container">
		<div class="row header">
			<div class="col">
				<h1>-The Millennial SOUL-</h1>
				<h3>Your guide to the raging era of Jazz, Soul and Funk in the 70's</h3>
			</div>
			<div class="nav">
				<a href="#">About</a>
				<a href="#">History</a>
				<a href="#">News</a>
				<a href="#">Gallery</a>
				<a href="#">Contact</a>
			</div>
		</div>
		<div class="row main clear">
			<div class="left col-lg-9 col-md-6 col-sm-12">Left</div>
			<div class="sidebar col-lg-3 col-md-6 col-sm-12">Follow Us!</div>
		</div>
		<div class="row thumbnails clear">
			<div class="article col-lg-3 col-md-6"></div>
			<div class="article col-lg-3 col-md-6"></div>
			<div class="article col-lg-3 col-md-6"></div>
			<div class="article col-lg-3 col-md-6"></div>
		</div>
		<div class="footer">
			<div class="col">
				<br>
				<a href="#">Home</a>
				<br>
				<span>Copyright © 2017 Jean Talal Productions</span>
			</div>
		</div>
	</div>


</body>
</html>